<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.recipebook.recipedetail">

    <application>
        <activity android:name=".view.RecipeDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>